{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}
<div style="background-color: white;">
    <div class="centered" style="flex-direction: column;"><h2>FlickPick - фильм на вечер</h2>
    <div style="padding: 1px 10px"><h3>В наших каталогах вы сможете найти разнообразное множество представителей киноленты!</h3></div><h4>
    <details style="background-color: lightGrey; border: 1px solid grey;">
    <summary>Почему именно мы?</summary>
    <h5>
    <ul>
    <li>Отзывы на фильмы - Делитесь вашим мнением с другими!</li>
    <li>Наша собственная система по рекомендации фильмов, основанная на ИИ.</li>
    </ul>
    </h5>
    </details>
    </h4>
    <h5 class="littleText">Заинтересовало? <a href="/register">Зарегистрироваться</a><br>
        Уже есть аккаунт? <a href="/login">Войти</a></h5>
    </div>
</div>
{% endblock %}