{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="form centered">
<form action="/api" method="post" enctype="multipart/form-data">
<input type="hidden" name="from" value="login">
<label class="centered"><h1>Вход</h1></label>
<label>Введите логин: </label><input type="text" name="login"></br>
<label>Введите пароль: </label><input type="password" name="password"><br></br>
<div class="centered"><button type="submit">Отправить</button></div><br>
<div class="littleText centered">Нет аккаунта? <a href="/register">Зарегистрироваться</a></div>
</form></div>
{% endblock %}